__pycache__/

.ipynb_checkpoints

data/items_metadata/itemsV1.2.json

data/raw

terrierindex/

tuning_index/

tuning_index_global/

src/pylate-index/
pylate-index/index/

venv/

docs/

mkdocs.yml

analysis_from_runs.md

asistposter.py

.DS_Store

UNUSED*

lastest_runs/