site_name: SUSHI Research Documentation
site_url: https://victorleaoo.github.io/SUSHI_Information_Retrieval_Archives
theme:
  name: material
  palette:
    primary: indigo
  font:
    text: Roboto
  icon:
    repo: fontawesome/brands/github

nav:
  - Mkdocs Help: mkdocs_help.md
  - Home: index.md
  - IR Solutions:
    - Overview: 0_ir_solutions/1_index.md
  - SUSHI Problem and Solution: 
    - The problem: 1_sushi_problem/1_index.md
    - The solution: 1_sushi_problem/2_solution.md
    - First Solutions: 1_sushi_problem/3_first_solutions.md
  - SUSHI Design:
    #- Design principles: 2_sushi_design/1_index.md
    - Data collections: 2_sushi_design/2_data.md
    - Evaluation: 2_sushi_design/3_evaluation.md
    - Run Submissions: 2_sushi_design/4_runs.md
  - SUSHI Solutions:
    - SUSHI Submissions: 3_sushi_solutions/1_index.md
    - SUSHI Topics: 3_sushi_solutions/2_topics.md
  - Explainable IR:
    - Explainable IR overview: 4_ir_explain/1_index.md
    - ExIR Methods: 4_ir_explain/2_models.md
  - Proposed Work:
    - Proposed Work overview: 5_proposed_work/1_index.md

repo_url: https://github.com/victorleaoo/SUSHI_Information_Retrieval_Archives
repo_name: victorleaoo/SUSHI_Research

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde